In [1]:
from pathlib import Path
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
fuel_csv = Path("Resources/Dist Fuel Pricing 2019-2023.csv")
fuel_df = pd.read_csv(fuel_csv)
fuel_df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,PRICE FLUCTUATIONS,Unnamed: 4,01-Jan-23,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,DATE,Brent,Up/Down,Tapis,Up/Down,Exchange Rate,Up/Down,CHANGE,VIVA TGP,BP,CALTEX,MOBIL,RSG,Change,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,31/12/2023,77.04,0.00,78.67,-2.81,68.12,-0.02,0.02,174.20,171.43,177.80,152.82,153.44,NaN,NaN,NaN,NaN,NaN,NaN
4,30/12/2023,77.04,-1.35,81.48,-2.41,68.14,-0.21,-1.14,174.20,171.43,177.80,152.82,153.44,-0.53,NaN,NaN,NaN,NaN,NaN

In [3]:
#clean data 
fuel_dropcol=fuel_df.drop(columns=['Unnamed: 4','Unnamed: 7','Unnamed: 12','Unnamed: 13','Unnamed: 14', 'Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18'])
fuel_dropnan=fuel_dropcol.dropna()

fuel_clean=fuel_dropnan.rename(columns={"Unnamed: 0": "Date", "Unnamed: 1": "Brent $","Unnamed: 2": "Brent Movement","Unnamed: 4":"Tapis Movement",
                                         "PRICE FLUCTUATIONS": "Tapis","01-Jan-23": "Exchange Rate","Unnamed: 6": "Exchange rate movement","Unnamed: 8": "Viva",
                                         "Unnamed: 9": "BP","Unnamed: 10": "Caltex","Unnamed: 11": "Mobil"})

fuel_clean

,Date,Brent $,Brent Movement,PRICE FLUCTUATIONS,Exchange Rate,Exchange rate movement,Viva,BP,Caltex,Mobil
1,DATE,Brent,Up/Down,Tapis,Exchange Rate,Up/Down,VIVA TGP,BP,CALTEX,MOBIL
3,31/12/2023,77.04,0.00,78.67,68.12,-0.02,174.20,171.43,177.80,152.82
4,30/12/2023,77.04,-1.35,81.48,68.14,-0.21,174.20,171.43,177.80,152.82
5,29/12/2023,78.39,-1.24,83.89,68.35,-0.09,174.78,173.39,178.75,153.54
6,28/12/2023,79.63,-1.24,82.37,68.44,0.20,175.09,174.17,179.54,153.73
...,...,...,...,...,...,...,...,...,...,...
1338,27/05/2020,34.35,1.10,33.42,66.21,-0.32,99.11,104.16,84.06,85.70
1339,28/05/2020,32.81,-1.54,33.59,66.29,0.08,99.49,104.59,84.88,85.50
1340,29/05/2020,33.71,0.90,32.33,66.67,0.38,99.64,104.73,85.25,85.80
1341,30/05/2020,35.49,1.78,34.09,66.68,0.01,98.95,104.08,85.11,85.88
1342,31/05/2020,35.49,0.00,34.09,66.62,-0.06,98.95,104.08,85.11,85.88

TypeError: 'NoneType' object is not subscriptable

In [10]:
# Assuming you have a DataFrame called 'df' with columns 'Date' and 'Value'
# 'Date' column contains the dates and 'Value' column contains the data you want to calculate the movement for

# Sort the DataFrame by date in ascending order
fuel_sort=fuel_clean.sort_values(by=['Date'], inplace=True, ascending=False)
fuel_sort

In [11]:
# Create a new colunm called 'Movement' to store the calculated movements
fuel_sort['Movement'] = fuel_sort['Viva'].diff()

TypeError: 'NoneType' object is not subscriptable

In [ ]:
# Print the DataFrame to see the results
print(fuel_clean)

In [9]:
fuel_clean.insert(12, "Age", [viva_movement], True)

ValueError: Length of values (0) does not match length of index (1271)

In [ ]:
#create loop to find movement between previous day and current day 

Monthly_changes=[]
Prev_profit=0 


for row in fuel_clean:
        Date.append(row[0])
        Viva.append(int(row[1]))
        if len(Date) == 1:
            Monthly_changes.append(0)
        else:
            current_change = int(row[1])-Prev_profit
            Monthly_changes.append(current_change)
        Prev_profit = int(row[1])

In [ ]:
#GET AVERAGE MOVEMENT  BY MONTH 

#Average =sum(Monthly_changes)/(total_months-1)

In [ ]:
#GET AVERAGE MOVEMENT BY YEAR