In [23]:
from pathlib import Path
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime

In [24]:
fuel_csv = Path("Resources/Dist Fuel Pricing 2019-2023.csv")
fuel_df = pd.read_csv(fuel_csv,skiprows=[0,1,2])
fuel_df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,31/12/2023,77.04,0.00,78.67,-2.81,68.12,-0.02,0.02,174.20,171.43,177.80,152.82,153.44,NaN,NaN,NaN,NaN,NaN,NaN
1,30/12/2023,77.04,-1.35,81.48,-2.41,68.14,-0.21,-1.14,174.20,171.43,177.80,152.82,153.44,-0.53,NaN,NaN,NaN,NaN,NaN
2,29/12/2023,78.39,-1.24,83.89,1.52,68.35,-0.09,-1.15,174.78,173.39,178.75,153.54,153.97,-0.28,NaN,NaN,NaN,NaN,NaN
3,28/12/2023,79.63,-1.24,82.37,-1.63,68.44,0.20,-1.44,175.09,174.17,179.54,153.73,154.25,0.06,NaN,NaN,NaN,NaN,NaN
4,27/12/2023,80.87,1.80,84.00,0.00,68.24,0.26,1.54,175.02,173.96,179.56,153.07,154.19,0.02,NaN,NaN,NaN,NaN,NaN

In [27]:
#clean data 
fuel_dropcol=fuel_df.drop(columns=['Unnamed: 4','Unnamed: 7','Unnamed: 12','Unnamed: 3','Unnamed: 13','Unnamed: 14', 'Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18'])
fuel_dropnan=fuel_dropcol.dropna()


#CHANGING DATE FORMAT
fuel_date=fuel_df['Unnamed: 0'] = pd.to_datetime(fuel_df['Unnamed: 0'],dayfirst=True)
#fuel_df['Unnamed: 0'] = fuel_df['Unnamed: 0'].dt.strftime('%d-%m-%Y')
fuel_year=fuel_df['year'] = fuel_df['Unnamed: 0'].dt.year
fuel_month=fuel_df['month'] = fuel_df['Unnamed: 0'].dt.month

#CHANGING COLUMN HEADERS 
fuel_column_change=fuel_dropnan.rename(columns={"Unnamed: 0": "Date", "Unnamed: 1": "Brent $","Unnamed: 2": "Brent Movement",
                                         "Unnamed: 5": "Exchange Rate","Unnamed: 6": "Exchange rate movement","Unnamed: 8": "Viva",
                                         "Unnamed: 9": "BP","Unnamed: 10": "Caltex","Unnamed: 11": "Mobil"})


viva_move=fuel_column_change['Viva Movement'] = fuel_column_change['Viva'].diff()


fuel_column_change

,Date,Brent $,Brent Movement,Exchange Rate,Exchange rate movement,Viva,BP,Caltex,Mobil,year,month,Viva Movement
0,2023-12-31,77.04,0.00,68.12,-0.02,174.20,171.43,177.80,152.82,2023,12,NaN
1,2023-12-30,77.04,-1.35,68.14,-0.21,174.20,171.43,177.80,152.82,2023,12,0.00
2,2023-12-29,78.39,-1.24,68.35,-0.09,174.78,173.39,178.75,153.54,2023,12,0.58
3,2023-12-28,79.63,-1.24,68.44,0.20,175.09,174.17,179.54,153.73,2023,12,0.31
4,2023-12-27,80.87,1.80,68.24,0.26,175.02,173.96,179.56,153.07,2023,12,-0.07
...,...,...,...,...,...,...,...,...,...,...,...,...
1821,2019-01-27,53.69,0.00,71.72,0.09,127.17,128.24,133.56,111.42,2019,1,0.00
1822,2019-01-28,53.69,0.00,71.66,0.06,127.17,128.24,133.56,111.42,2019,1,0.00
1823,2019-01-29,51.99,1.70,71.55,0.11,127.17,128.24,133.56,111.42,2019,1,0.00
1824,2019-01-30,53.31,1.32,72.53,0.98,127.35,128.22,133.54,111.52,2019,1,0.18
1825,2019-01-31,54.23,0.92,72.73,0.20,126.98,127.68,133.01,111.31,2019,1,-0.37

In [88]:
#viva Movement by year/month

years = [2021, 2022, 2023]  # List of years
months = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]  # List of months

for year in years:
    for month in months:
        condition1 = fuel_column_change['year'] == year
        condition2 = fuel_column_change['month'] == month
        average = fuel_column_change.loc[condition1 & condition2, 'Viva Movement'].mean()
        print(f"Average for {month}/{year}: {average}")
      
            
    
        # viva_november=f"Average for {year}/{11}: {average_month}"
        # viva_october=f"Average for {year}/{10}: {average_month}"
        # viva_september=f"Average for {year}/{9}: {average_month}"
        # viva_august=f"Average for {year}/{8}: {average_month}"
        # viva_july=f"Average for {year}/{7}: {average_month}"
        # viva_june=f"Average for {year}/{6}: {average_month}"
        # viva_may=f"Average for {year}/{5}: {average_month}"
        # viva_april=f"Average for {year}/{4}: {average_month}"
        # viva_march=f"Average for {year}/{3}: {average_month}"
        # viva_febuary=f"Average for {year}/{2}: {average_month}"
        # viva_january=f"Average for {year}/{1}: {average_month}"

TypeError: 'str' object is not callable

In [77]:
#Quarter

quarters = [(2019, 1, 3), (2019, 4, 6), (2019, 7, 9), (2019, 10, 12), (2020, 1, 3), (2020, 4, 6), (2020, 7, 9), (2020, 10, 12), (2021, 1, 3), (2021, 4, 6), (2021, 7, 9), (2021, 10, 12), (2022, 1, 3), (2022, 4, 6), (2022, 7, 9), (2022, 10, 12), (2023, 1, 3), (2023, 4, 6), (2023, 7, 9), (2023, 10, 12)]

for quarter in quarters:
    year = quarter[0]
    start_month = quarter[1]
    end_month = quarter[2]
    
    condition1 = fuel_column_change['year'] == year
    condition2 = fuel_column_change['month'].between(start_month, end_month)
    
    average_quarter = fuel_column_change.loc[condition1 & condition2, 'Viva Movement'].mean()
    print(f"Average for quarter {quarter}: {average_quarter}")

Average for quarter (2019, 1, 3): -0.12144444444444437
Average for quarter (2019, 4, 6): 0.05466666666666653
Average for quarter (2019, 7, 9): -0.02252747252747234
Average for quarter (2019, 10, 12): 0.044782608695652225
Average for quarter (2020, 1, 3): 0.45252747252747244
Average for quarter (2020, 4, 6): -0.15988636363636372
Average for quarter (2020, 7, 9): 0.06597826086956529
Average for quarter (2020, 10, 12): -0.1371739130434783
Average for quarter (2021, 1, 3): -0.0972727272727273
Average for quarter (2021, 4, 6): -0.1390109890109889
Average for quarter (2021, 7, 9): -0.17230769230769238
Average for quarter (2021, 10, 12): -0.11197674418604646
Average for quarter (2022, 1, 3): -0.30977272727272714
Average for quarter (2022, 4, 6): 0.029450549450549212
Average for quarter (2022, 7, 9): -0.4313793103448276
Average for quarter (2022, 10, 12): 0.32195402298850595
Average for quarter (2023, 1, 3): 0.18599999999999978
Average for quarter (2023, 4, 6): 0.10956043956043955
Average for quarter (2023, 7, 9): -0.4842857142857142
Average for quarter (2023, 10, 12): 0.37516483516483534

In [29]:
#GET AVERAGE MOVEMENT BY YEAR 
for year in years:
        for month in months:
            condition1 =fuel_column_change['year'] == year
            average_year = fuel_column_change.loc[condition1, 'Viva Movement'].mean()
        print(f"{year}: {average_year}")

2019: -0.010853994490358081
2020: 0.05663911845730024
2021: -0.13067415730337079
2022: -0.09660056657223795
2023: 0.04622589531680441